<nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark mb-3" style="background-color: #021b35;">
  <%= link_to monitoring_index_path, class: 'navbar-brand' do %>
    <span class="d-inline-block align-top"><i class="fa fa-desktop"> </i></span>
    &nbspRFID-AMM v.1.9.0
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <% if employee_signed_in? %>
          <%= link_to employees_path, class: 'nav-link', title: 'Home' do %>
            <span><i class="fa fa-home"></i></span>
          <% end %>
        <% else %>
          <%= link_to new_employee_session_path, class: 'nav-link', title: 'Admin Sign-in' do %>
            <span><i class="fa fa-sign-in-alt"></i></span>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>