<div class="modal-dialog">
  <div class="modal-content">
		<div class="modal-header">
		  <h4 class="modal-title card-title" id="mainModalLabel">
		    DTR Signatory
		  </h4>
		  <button type="button" class="close float-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		</div>
		<hr class="no-margin">
		<%= simple_form_for @config, html: { autocomplete: "off", data: { modal: true } }, remote: request.xhr?, url: settings_signatory_path do |f| %>
		  <div class="modal-body">
		    <%= f.error_notification %>
		    <%= f.input :dtr_signatory, collection: Employee.not_admin.map{|e| [e.full_name, e.fullname_and_title]} %>
		  </div>
		  <div class="modal-footer">
		    <%= f.submit "Save", class: "btn btn-danger float-right", data: { disable_with: "Processing..." } %>
		  </div>
		<% end %>
	</div>
</div>